<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style-nav.css">
     <link rel="stylesheet" href="../style-dashboard.css">
    <link rel="stylesheet" href="../style-modaladdq.css">
    <link rel="stylesheet" href="../style-displayAnstoq.css">
</head>
<body>
    {{> navigation}}
    <div class="main_dashboard">
      <div class="first_col">
        <div class="content_firstcol">
        <ul class="interests">
          <li><a href="/createSpace" class="createspace">➕ Create Space</a></li>
          {{#each user.interest as |interest|}}
            <li><a href="/open_{{interest}}">{{interest}}</a></li>
          {{/each}}
        </ul>
        {{!-- show user details --}}
        <ul class="footer">
          <li><a href="https://www.quora.com/about">About</a></li>
            <li><a href="https://www.careers.quora.com/">Careers</a></li>
            <li><a href="https://www.quora.com/about/privacy">Privacy</a></li>
            <li><a href="https://www.quora.com/about/tos">Terms</a></li>
            <li><a href="/">Contact</a></li>
            <li><a href="/">Languages</a></li>
            <li><a href="/">Your Ad Choices</a></li>
            <li><a href="/">Press</a></li>
            <li><a href="/">©️ Quora, Inc. 2023</a></li>
        </ul>
        </div>
      </div>
      <div class="answrs second_col">
        
          <div class="heading">{{table.question}}</div>
        <div class="flex">
            {{#if table.answers}}
        {{#each table.answers as |answer|}}
        <div class="answr">
            {{answer.answer}}
        </div>
        {{/each}}
        {{else}}
        <div class="answer noleft">No answers!</div>
        {{/if}}
        </div>

        
      </div>
      <div class="ads third_col"></div>
      <div class="addq_modal">
      <div class="cross">
        <img
          width="50"
          height="50"
          src="https://img.icons8.com/ios/50/multiply.png"
          alt="multiply"
        />
      </div>
      <div class="parts">
        <div class="addqbtn">Add Question</div>
        <div class="createpostbtn">Create Post</div>
      </div>
      <div class="addquestion">
        <div class="tips">
          <div>Tips on getting good answers quickly</div>
          <ul>
            <li>Make sure your question has not been asked already
            </li>
            <li>Keep your question short and to the point
            </li>
            <li>Double-check grammar and spelling
            </li>
          </ul>
        </div>
        <form action="/postquestion" method="post" class="postform">
          <input
            type="text"
            id="question"
            name="question"
            placeholder="Start your question with 'What','How','Why',etc."
          />
          <div class="wrapperPostq">
            <button type="button" class="cancel">Cancel</button>
            <button type="submit" class="add_qbtn">Add question</button>
          </div>
        </form>
      </div>
      <div class="addpost">
        <form action="/addPost" method="post" class="addpostform">
          <textarea
            name="post"
            class="post_content"
            placeholder="Say something..."
            cols="30"
            rows="10"
          ></textarea>
          
          <button type="submit" class="addpost_btn">Post</button>
        </form>
      </div>
    </div>
    <div class="overlay">

    </div>
    </div>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
        <script src="../script-navbar.js"></script>
        <script src="../search-nav.js"></script>
</body>
</html>